# SYSTEM
.Rhistory
.Rproj.user
repo.Rproj
.RData

**/.ipynb_checkpoints
**/.DS_Store
**/Icon
**/__pycache__
**/.egg-info

**/_HIDE
**/hidden
**/tmp
**/Untitled*.ipynb


# CONTENT
**/austen-melville*
**/cookiecutter.png 

lessons/00_TO_ADD
lessons/M08*
lessons/M09*
lessons/M10*
lessons/M11*
lessons/M12*
lessons/M13*
lessons/M14*
lessons/M15*
lessons/M16*